body{
  
}
.header{
  font-size:1.5em;
  font-family: 'Syncopate', sans-serif;
}
.wrapper{
  font-size:2em;
  font-family: 'Exo 2', sans-serif;
}
.wi{
  font-size:4em;
}
.credits{
  padding-top:3cm;
}